.character {
  background-color: #eee;
  padding-top: 60px;
  border-radius: 1rem;
}

.character .name {
  margin-top: 1rem;
  height: 5rem;
  font-weight: bold;
}

.character img {
  width: 9rem;
  max-width: 100%;
  border-radius: 50%;
}
