.grid {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 300px;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.pagination {
  margin-bottom: 5rem;
}

.pagination button {
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
}
