.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  max-width: 500px;
  height: 300px;
  margin: auto;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
}
